<!-- <link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
  rel="stylesheet"
/> -->
<div class="footer">
  <div class="footer-content">
    <div class="company-info">
      <img src="../../assets/logo.png" alt="Bếp Nhà Ta Logo" class="logo" />
      <div class="company-description">
        Bếp Nhà Ta mang đến công thức nấu ăn độc đáo, chinh phục mọi lứa tuổi.
        Nguyên liệu đơn giản, nấu ăn dễ dàng cùng Bếp Nhà Ta!
      </div>
    </div>
    <div class="info-section">
      <div class="section-title">THÔNG TIN CÔNG TY</div>
      <div class="company-name">Công ty cổ phần Bếp Nhà Ta</div>
      <div class="company-address">
        <div>
          <img
            src="../../assets/footer/destin.svg"
            class="icon-location me-2"
            alt="Location icon"
          />
          Số 669 Đỗ Mười, KP. 3, P. Linh Xuân, TP. Thủ Đức, TP. Hồ Chí Minh
        </div>
      </div>
      <div class="contact-info">
        <div>
          <img
            src="../../assets/footer/envelop.svg"
            class="icon-email me-2"
            alt="Email icon"
          />
          bepnhata&#64;gmail.com
        </div>
      </div>
      <div class="contact-info">
        <img
          src="../../assets/footer/vector.svg"
          class="icon-phone me-2"
          alt="Phone icon"
        />0909-868-686
      </div>
    </div>
    <div class="policy-section">
      <div class="section-title">CHÍNH SÁCH</div>
      <div class="policy-links">
        <a
          [routerLink]="'/chinh-sach'"
          [fragment]="'ban-hang'"
          routerLinkActive="active"
          >Chính sách bán hàng</a
        >
        <a
          [routerLink]="'/chinh-sach'"
          [fragment]="'doi-tra'"
          routerLinkActive="active"
          >Chính sách đổi trả</a
        >
        <a
          [routerLink]="'/chinh-sach'"
          [fragment]="'dich-vu'"
          routerLinkActive="active"
          >Chính sách dịch vụ</a
        >
        <a
          [routerLink]="'/chinh-sach'"
          [fragment]="'bao-mat'"
          routerLinkActive="active"
          >Chính sách bảo mật</a
        >
      </div>
    </div>
    <div class="social-section">
      <div class="section-title">THEO DÕI CHÚNG TÔI</div>
      <div class="social-icons">
        <div>
          <a href="">
            <img src="../../assets/footer/logos-facebook.svg" alt="" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="../../assets/footer/skill-icons-instagram.svg" alt="" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="../../assets/footer/logos-tiktok-icon.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="payment-section">
        <div class="section-title">THANH TOÁN AN TOÀN</div>
        <div class="payment-methods">
          <img src="../../assets/footer/napas.png" alt="" />
          <img src="../../assets/footer/momo.png" alt="" />
          <img src="../../assets/footer/zalopay.png" alt="" />
        </div>
      </div>
    </div>
    <div class="newsletter-section">
      <div class="section-title">NHẬN THÔNG TIN</div>
      <div class="newsletter-description">
        Nhận thông báo về các công thức và ưu đãi sớm nhất
      </div>
      <div class="email-input-container">
        <input type="email" placeholder="Nhập email" class="email-input" />
        <button class="submit-button">
          <div>
            <img src="../../assets/footer/arrow.svg" alt="" />
          </div>
        </button>
      </div>
      <img
        src="../../assets/footer/bocongthuong.png"
        alt="Bộ Công Thương"
        class="certification"
      />
    </div>
  </div>
  <div class="copyright">
    Copyright©2025 by Bếp Nhà Ta. All rights reserved.
  </div>
</div>
