<div class="container">
  <button class="close-button" (click)="onClose()">
    <img src="../../assets/sign in up/zondicons-close-outline.svg" alt="" />
  </button>
  <div class="title">Đăng nhập</div>
  <p>Cùng Bếp Nhà Ta khám phá 200+ món ăn và công thức hấp dẫn!</p>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        id="emailOrPhone"
        name="emailOrPhone"
        placeholder="Email/SĐT của bạn"
        required
        #emailOrPhone="ngModel"
        [(ngModel)]="email"
        [class.submitted]="submitted"
      />
      <div class="error-message" *ngIf="submitted && emailOrPhone.invalid">
        (*) Vui lòng nhập Email hoặc SĐT của bạn
      </div>
      <div class="error-message" *ngIf="emailError">
        {{ emailError }}
      </div>
    </div>

    <div class="form-group password-input">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        name="password"
        placeholder="Mật khẩu"
        required
        #password="ngModel"
        [(ngModel)]="pass"
        [class.submitted]="submitted"
      />
      <img
        [src]="eyeIcon"
        alt=""
        class="toggle-password"
        (click)="togglePassword()"
      />
      <div class="error-message" *ngIf="submitted && password.invalid">
        (*) Vui lòng nhập mật khẩu
      </div>
    </div>

    <button class="button-cam" type="submit">ĐĂNG NHẬP</button>
  </form>

  <div class="forgot-password">
    <a href="#">Quên mật khẩu</a>
  </div>

  <div class="login-link">
    <p>
      Chưa có tài khoản?
      <a (click)="navigateToRegister()" style="cursor: pointer"
        >Đăng ký ngay!</a
      >
    </p>
  </div>
</div>
