<div class="header-placeholder">
  <app-header></app-header>
</div>

<router-outlet></router-outlet>
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-faq></app-faq> -->
<!-- <app-chinh-sach></app-chinh-sach> -->
<!-- <app-bmibmr></app-bmibmr> -->
<!-- <app-lien-he></app-lien-he> -->
<!-- <app-dang-ky></app-dang-ky> -->
<!-- <app-dang-nhap></app-dang-nhap> -->
<!-- <app-datlai></app-datlai> -->
<!-- <app-nhapma></app-nhapma> -->
<!-- <app-nhapemail></app-nhapemail> -->
<!-- <app-tai-khoan></app-tai-khoan> -->
<!-- <app-chi-tiet-cong-thuc></app-chi-tiet-cong-thuc> -->
<!-- <app-gio-hang></app-gio-hang> -->

<app-footer></app-footer>
