* {
  font-family: "Open Sans", sans-serif;
}

.headerbar {
  width: 100%;
  height: 58px;
  background-color: #ea5c2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px 0 65px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  align-items: center;
  gap: 44px;
}

.info-item {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.number {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

.slogan {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.slogan > img {
  padding-right: 12px;
}

.text-white {
  color: white;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 40px;
  font-weight: 700;
  justify-content: space-between;
}

.nav .logo {
  margin-right: 0;
}

.logo {
  width: 90px;
  height: auto;
}

.nav a {
  text-decoration: none;
  color: #ff7f3f;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #ff7f3f;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.hr-decor {
  height: 6px;
  background-color: #ea5c2b;
  margin: 0;
  opacity: 1;
  border: 0px;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 0px;
}

.search-container input {
  width: 200px;
  height: 40px;
  background-color: #ffd2bc !important;
  border: none;
  border-radius: 50px;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  padding-left: 40px;
  background: url("../../assets/header/ic-round-search.svg") no-repeat 15px
    center;
  background-size: 20px;
}
