<div class="maincontainer">
  <div class="headerbar">
    <div class="slogan text-white">
      <img src="../../assets/header/ri-bowl-line.svg" alt="" />
      Bếp Nhà Ta - Chọn nguyên liệu chuẩn, nấu bữa cơm ngon!
    </div>
    <div class="info">
      <div class="info-item">
        <span class="number text-white">122</span>
        <span class="text text-white">Công thức</span>
      </div>
      <div class="info-item">
        <div class="number text-white">98</div>
        <div class="text text-white">Nguyên liệu</div>
      </div>
      <div class="info-item">
        <span class="number text-white">1,988</span>
        <span class="text text-white">Thành viên</span>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="logo"><img src="../../assets/logo.png" alt="logo" /></div>
    <a href="">Trang chủ</a>
    <a href="">Công thức</a>
    <a href="">Sản phẩm</a>
    <a href="">Lên thực đơn</a>
    <a href="">Blog</a>
    <a href="">Công cụ</a>
    <a href="">Giới thiệu</a>
    <div class="search-container">
      <input type="text" placeholder="Tìm kiếm" />
    </div>
    <img src="../../assets/header/mdi-cart-outline.svg" alt="" />
    <img src="../../assets/header/group.svg" alt="" />
  </div>
  <hr class="hr-decor" />
</div>
