<div class="main-container">
  <div class="top-bar">
    <span class="number">1,988</span><span class="number-1">112</span
    ><span class="number-2">98</span>
    <div class="bowl-line"></div>
    <span class="cook-message"
      >Bếp Nhà Ta - Chọn nguyên liệu chuẩn, nấu bữa cơm ngon!</span
    ><span class="member">Thành viên</span
    ><span class="nguyen-lieu">Nguyên liệu</span
    ><span class="cong-thuc">Công thức</span>
  </div>
  <div class="content">
    <div class="logo"></div>
    <div class="trang-chu">
      <span class="trang-chu-3">Trang chủ</span>
      <div class="rectangle"></div>
    </div>
    <div class="cong-thuc-4">
      <span class="cong-thuc-5">Công thức</span>
      <div class="rectangle-6"></div>
    </div>
    <div class="san-pham">
      <span class="san-pham-7">Sản phẩm</span>
      <div class="rectangle-8"></div>
    </div>
    <div class="len-thuc-don">
      <span class="len-thuc-don-9">Lên thực đơn</span>
      <div class="rectangle-a"></div>
    </div>
    <div class="blog">
      <span class="blog-b">Blog</span>
      <div class="rectangle-c"></div>
    </div>
    <div class="cong-cu">
      <span class="cong-cu-d">Công cụ</span>
      <div class="rectangle-e"></div>
    </div>
    <div class="gioi-thieu">
      <span class="gioi-thieu-f">Giới thiệu</span>
      <div class="rectangle-10"></div>
    </div>
    <div class="tim-kien">
      <div class="rectangle-tim-kien"></div>
      <div class="ic-round-search"></div>
      <span class="tim-kien-11">Tìm kiếm</span>
    </div>
    <div class="mdi-cart-outline"></div>
    <div class="material-symbols-account-circle"></div>
  </div>
  <div class="line"></div>
</div>
