.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: var(--color-camvua);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.logo {
  width: 70px;
  height: 70px;
}

.menu-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 14px 25px;
  margin: 2px 0;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-item.active {
  background-color: var(--color-camdam);
}

.menu-item img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  opacity: 0.9;
}

.menu-item span {
  font-size: 18px;
  font-weight: 500;
}

.menu-item.with-submenu {
  position: relative;
  padding: 14px 25px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.menu-item.with-submenu img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  opacity: 0.9;
}

.menu-item.with-submenu .arrow-icon {
  position: absolute;
  right: 20px;
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

.menu-item.with-submenu.open .arrow-icon {
  transform: rotate(90deg);
}

/* Submenu styling */
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: rgba(255, 255, 255, 0.05);
}

.submenu.open {
  max-height: 200px; /* Adjust based on submenu items */
}

.submenu-item {
  padding: 10px 25px 10px 57px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.submenu-item.active,
.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.submenu-item.active {
  font-weight: 500;
  position: relative;
}

.submenu-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: white;
}
