<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="menu-items">
      <div class="menu-item" routerLink="/trang-chu" routerLinkActive="active">
        <img src="../../assets/sidebar/mainpage.svg" alt="" />
        <span>Trang chủ</span>
      </div>
      <div class="menu-item" routerLink="/orders" routerLinkActive="active">
        <img src="../../assets/sidebar/cart.svg" alt="" />
        <span>Quản lý đơn hàng</span>
      </div>
      <div
        class="menu-item with-submenu"
        (click)="toggleSubmenu('product')"
        [ngClass]="{
          open: openSubmenu === 'product',
          active: isActive('/product')
        }"
      >
        <img src="../../assets/sidebar/product.svg" alt="" />
        <span>Quản lý sản <br />phẩm</span>
        <img src="../../assets/sidebar/arrow.svg" alt="" class="arrow-icon" />
      </div>
      <div class="submenu" [ngClass]="{ open: openSubmenu === 'product' }">
        <div
          class="submenu-item"
          routerLink="/san-pham"
          [ngClass]="{ active: isSubmenuItemActive('/san-pham') }"
        >
          Danh sách sản phẩm
        </div>
        <div
          class="submenu-item"
          routerLink="/san-pham/them-moi"
          [ngClass]="{ active: isSubmenuItemActive('/san-pham/them-moi') }"
        >
          Thêm sản phẩm mới
        </div>
      </div>
      <div
        class="menu-item with-submenu"
        (click)="toggleSubmenu('recipe')"
        [ngClass]="{
          open: openSubmenu === 'recipe',
          active: isActive('/recipe')
        }"
      >
        <img src="../../assets/sidebar/recipes.svg" alt="" />
        <span
          >Quản lý công <br />
          thức</span
        >
        <img src="../../assets/sidebar/arrow.svg" alt="" class="arrow-icon" />
      </div>
      <div class="submenu" [ngClass]="{ open: openSubmenu === 'recipe' }">
        <div
          class="submenu-item"
          routerLink="/cong-thuc"
          [ngClass]="{ active: isSubmenuItemActive('/cong-thuc') }"
        >
          Danh sách công thức
        </div>
        <div
          class="submenu-item"
          routerLink="/cong-thuc/them-moi"
          [ngClass]="{ active: isSubmenuItemActive('/cong-thuc/them-moi') }"
        >
          Thêm công thức mới
        </div>
      </div>
      <div class="menu-item" routerLink="/blog" routerLinkActive="active">
        <img src="../../assets/sidebar/blog.svg" alt="" />
        <span>Quản lý blog</span>
      </div>
      <div class="menu-item" routerLink="/customers" routerLinkActive="active">
        <img src="../../assets/sidebar/user.svg" alt="" />
        <span>Danh sách khách hàng</span>
      </div>

      <!-- <div
        class="menu-item with-submenu"
        (click)="toggleSubmenu('customer')"
        [ngClass]="{
          open: openSubmenu === 'customer',
          active: isActive('/customer')
        }"
      >
        <img src="../../assets/sidebar/user.svg" alt="" />
        <span>Quản lý khách hàng</span>
        <img src="../../assets/sidebar/arrow.svg" alt="" class="arrow-icon" />
      </div>
      <div class="submenu" [ngClass]="{ open: openSubmenu === 'customer' }">
        <div
          class="submenu-item"
          routerLink="/customers"
          routerLinkActive="active"
        >
          Danh sách khách hàng
        </div>
        <div class="submenu-item">Phân loại khách hàng</div>
        <div class="submenu-item">Phản hồi khách hàng</div>
      </div> -->
    </div>
  </div>
</div>
