<div class="maincontainer">
  <img
    src="../../assets/aboutus/firstpic.png"
    alt="hình ảnh"
    class="first-pic"
  />
  <div class="intro">
    <h1>Chào mừng đến với Bếp Nhà Ta</h1>
    <h3>Chọn nguyên liệu chuẩn, nấu bữa cơm ngon!</h3>
    <p>
      Tại Bếp Nhà Ta, chúng tôi tin rằng mỗi bữa ăn ngon bắt đầu từ những nguyên
      liệu tươi sạch và chất lượng. Hiểu được khó khăn của những người bận rộn
      nhưng vẫn khao khát tận hưởng niềm vui nấu nướng, Bếp Nhà Ta mang đến các
      gói nguyên liệu được sơ chế sẵn theo khẩu phần, kèm theo công thức hướng
      dẫn chi tiết, giúp bạn dễ dàng chế biến những món ăn thơm ngon ngay tại
      nhà. Với sự tiện lợi và cam kết về chất lượng, chúng tôi không chỉ giúp
      bạn tiết kiệm thời gian mà còn truyền cảm hứng để bạn tạo nên những bữa
      cơm gia đình trọn vẹn
    </p>
  </div>
  <div class="value">
    <h3>Giá trị chúng tôi mang lại</h3>
    <div class="row1">
      <div class="recipes">
        <img src="../../assets/aboutus/congthuc.svg" alt="congthuc" />
        <h3>Công thức dễ nấu</h3>
        <p>Tiết kiệm thời gian, <br />phù hợp mọi phong cách sống.</p>
      </div>
      <div class="recipes">
        <img src="../../assets/aboutus/nguyenlieu.svg" alt="congthuc" />
        <h3>Nguyên liệu tươi ngon</h3>
        <p>
          Được chọn lọc từ nguồn uy tín, đảm bảo tươi mới và chất lượng cao.
        </p>
      </div>
      <div class="recipes">
        <img src="../../assets/aboutus/thoigian.svg" alt="congthuc" />
        <h3>Tiết kiệm thời gian</h3>
        <p>Giúp tiết kiệm thời gian trong <br />cuộc sống hàng ngày.</p>
      </div>
    </div>
    <div class="row2">
      <div class="recipes">
        <img src="../../assets/aboutus/thucdon.svg" alt="congthuc" />
        <h3>Thực đơn đa dạng</h3>
        <p>Cung cấp bởi các đầu bếp chuyên nghiệp.</p>
      </div>
      <div class="recipes">
        <img src="../../assets/aboutus/khoanhkhac.svg" alt="congthuc" />
        <h3>Tận hưởng bếp nhà</h3>
        <p>Tìm kiếm niềm vui từ những khoảnh khắc.</p>
      </div>
    </div>
  </div>
  <div class="mission">
    <img src="../../assets/aboutus/monan.png" alt="hình ảnh" />
    <div class="content">
      <h3>Cách chúng tôi thay đổi bữa ăn của mọi người</h3>
      <p>
        Chúng tôi tin rằng ai cũng xứng đáng được thưởng thức những bữa ăn ngon
        và chất lượng. Vì vậy, chúng tôi giúp việc nấu ăn tại nhà trở nên đơn
        giản hơn, khơi dậy sự sáng tạo trong mỗi người và gắn kết mọi thành viên
        trong gia đình.
        <br /><br />
        Bởi vì thực phẩm tốt nuôi dưỡng cơ thể. Và món ăn tuyệt vời mang đến
        niềm vui. Bếp Nhà Ta là sự kết hợp giữa sự tiện lợi hiện đại và giá trị
        truyền thống của bữa cơm gia đình Việt.
      </p>
    </div>
  </div>
  <div class="core-value">
    <img src="../../assets/aboutus/giadinh.png" alt="hình ảnh" />
    <div class="content">
      <h3>Bữa cơm gia đình – Gắn kết yêu thương</h3>
      <p>
        Bữa ăn không chỉ là nơi chia sẻ những món ăn ngon mà còn là khoảnh khắc
        quây quần, kết nối yêu thương giữa các thành viên trong gia đình. Bếp
        Nhà Ta mong muốn tạo thêm thời gian trò chuyện và tận hưởng những khoảnh
        khắc ấm áp. Vì vậy, mỗi gói nguyên liệu không chỉ mang đến sự tiện lợi
        mà còn là cầu nối gìn giữ giá trị truyền thống của bữa cơm gia đình
        Việt.
        <br /><br />
        Với Bếp Nhà Ta, bạn không chỉ nấu ăn mà còn tận hưởng niềm vui bếp núc
        và những khoảnh khắc ấm áp bên gia đình! Hãy để chúng tôi đồng hành cùng
        bạn trong từng bữa cơm ngon.
      </p>
    </div>
  </div>
  <div class="journey">
    <img src="../../assets/aboutus/5boy.png" alt="hình ảnh" class="boy" />
    <div class="content">
      <h3>Hành trình của chúng tôi</h3>
      <p>
        Vào cuối năm 2024, 5 chàng trai với chung niềm đam mê ẩm thực đã cùng
        nhau sáng lập Bếp Nhà Ta. Chúng tôi nhận ra rằng không phải ai cũng có
        đủ thời gian để đi chợ, chọn nguyên liệu và nấu ăn mỗi ngày, nhưng ai
        cũng mong muốn có những bữa cơm ngon, đầy đủ dinh dưỡng bên gia đình.
        Tại Bếp Nhà Ta, triết lý của chúng tôi vẫn không thay đổi: Giúp mọi
        người nấu những bữa cơm ngon một cách đơn giản, tiện lợi và trọn vẹn
        nhất.
      </p>
    </div>
  </div>
  <div class="cta">
    <img
      src="../../assets/aboutus/lastpic.png"
      alt="hình ảnh"
      class="last-pic"
    />
    <div class="cta-content">
      <h2>Muốn cảm nhận?</h2>
      <button class="button-cam" (click)="navigateToRecipes()">
        KHÁM PHÁ NGAY
      </button>
    </div>
  </div>
</div>
