<!-- Breadcrumb -->
<app-breadcrumb
  category="Công thức"
  categoryLink="/cong-thuc"
  [currentPage]="recipe?.recipeName || 'Chi tiết công thức'"
></app-breadcrumb>

<!-- Recipe Detail Section -->
<!-- Thông báo -->
<div
  *ngIf="notification.show"
  class="notification"
  [ngClass]="{
    'notification-success': notification.type === 'success',
    'notification-error': notification.type === 'error'
  }"
>
  <div class="notification-content">
    <div *ngIf="notification.type === 'success'" class="notification-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <div *ngIf="notification.type === 'error'" class="notification-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="12"></line>
        <line x1="12" y1="16" x2="12" y2="16"></line>
      </svg>
    </div>
    <span>{{ notification.message }}</span>
  </div>
</div>

<div class="recipe-detail-container" *ngIf="recipe">
  <!-- left panel -->
  <div class="left-panel col-md-9">
    <div class="recipe-header">
      <h1 class="px-3">{{ recipe.recipeName }}</h1>
      <img
        src="../../assets/chi-tiet-cong-thuc/chef-recommend.png"
        alt="chef-recommend"
      />
    </div>

    <img
      [src]="recipe.recipeImage"
      [alt]="recipe.recipeName"
      class="recipe-image"
    />
    <div class="tab-content d-flex flex-row gap-2">
      <button
        class="button-trang"
        [class.active]="isActiveSection('description')"
        (click)="scrollToSection('description')"
      >
        Mô tả
      </button>
      <button
        class="button-trang"
        [class.active]="isActiveSection('ingredients')"
        (click)="scrollToSection('ingredients')"
      >
        Nguyên liệu
      </button>
      <button
        class="button-trang"
        [class.active]="isActiveSection('preparation')"
        (click)="scrollToSection('preparation')"
      >
        Sơ chế
      </button>
      <button
        class="button-trang"
        [class.active]="isActiveSection('steps')"
        (click)="scrollToSection('steps')"
      >
        Thực hiện
      </button>
      <button
        class="button-trang"
        [class.active]="isActiveSection('serving')"
        (click)="scrollToSection('serving')"
      >
        Cách dùng
      </button>
      <button
        class="button-trang"
        [class.active]="isActiveSection('tips')"
        (click)="scrollToSection('tips')"
      >
        Mách nhỏ
      </button>
    </div>

    <div id="description" class="recipe-section">
      <p>{{ recipe.description }}</p>
    </div>
    <div class="recipe-sections">
      <div class="recipe-note" *ngIf="recipe.notes">
        <h3>Lưu ý</h3>
        <p>
          Công thức này cho khẩu phần
          <span class="fw-bold"> {{ selectedServingSize }} người </span>
        </p>
      </div>
      <section id="ingredients" class="recipe-section">
        <div class="section-header">
          <img
            src="../../assets/chi-tiet-cong-thuc/nguyen-lieu.svg"
            alt="Nguyên liệu"
          />
          <h3>Nguyên liệu</h3>
        </div>
        <ul>
          <li *ngFor="let ingredient of getCurrentIngredients()">
            {{ ingredient.name }} - {{ ingredient.quantity }}
          </li>
        </ul>
      </section>

      <section id="preparation" class="recipe-section">
        <div class="section-header">
          <img src="../../assets/chi-tiet-cong-thuc/so-che.svg" alt="Sơ chế" />
          <h3>Sơ chế</h3>
        </div>
        <ul>
          <li *ngFor="let step of recipe.preparation">{{ step }}</li>
        </ul>
      </section>

      <section id="steps" class="recipe-section">
        <div class="section-header">
          <img
            src="../../assets/chi-tiet-cong-thuc/thuc-hien.svg"
            alt="Thực hiện"
          />
          <h3>Thực hiện</h3>
        </div>
        <ul>
          <li *ngFor="let step of recipe.steps">{{ step }}</li>
        </ul>
      </section>

      <section id="serving" class="recipe-section">
        <div class="section-header">
          <img
            src="../../assets/chi-tiet-cong-thuc/cach-dung.svg"
            alt="Cách dùng"
          />
          <h3>Cách dùng</h3>
        </div>
        <p>{{ recipe.servingSuggestion }}</p>
      </section>

      <section id="tips" class="recipe-section">
        <div class="section-header">
          <img
            src="../../assets/chi-tiet-cong-thuc/mach-nho.svg"
            alt="Mách nhỏ"
          />
          <h3>Mách nhỏ</h3>
        </div>
        <p>{{ recipe.tips }}</p>
      </section>
    </div>

    <div class="tags">
      <h4>Tags</h4>
      <div class="tag-list">
        <span *ngFor="let tag of recipe.tags" class="tag">{{ tag }}</span>
      </div>
    </div>

    <div class="related-info">
      <h4>Xem thêm thông tin hữu ích</h4>
      <ul>
        <li *ngFor="let info of recipe.relatedInfo">
          <a [href]="info.link">{{ info.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- right panel -->
  <div class="col-md-3 right-panel">
    <div class="recipe-meta">
      <div class="meta-item">
        <img
          src="../../assets/chi-tiet-cong-thuc/khau-phan.svg"
          alt="Khẩu phần"
        />
        <div>Khẩu phần:</div>
        <div class="serving-selector">
          <select (change)="onServingSizeChange($event)">
            <option *ngFor="let size of getServingSizes()" [value]="size">
              {{ size }} người
            </option>
          </select>
        </div>
      </div>
      <div class="meta-item">
        <img
          src="../../assets/chi-tiet-cong-thuc/thoi-gian.svg"
          alt="Thời gian"
        />
        <div>Thời gian:</div>
        <span class="info">{{ recipe.time }}</span>
      </div>
      <div class="meta-item">
        <img src="../../assets/chi-tiet-cong-thuc/do-kho.svg" alt="Độ khó" />
        <div>Độ khó:</div>
        <span class="info">{{ recipe.difficulty }}</span>
      </div>
    </div>
    <button
      class="button-xam mt-3 w-100"
      (click)="toggleSaveRecipe()"
      [class.saved]="isSaved"
    >
      <img
        class="px-2"
        [src]="
          isSaved
            ? '../../assets/chi-tiet-cong-thuc/heart-fill.svg'
            : '../../assets/chi-tiet-cong-thuc/dark-heart.svg'
        "
        alt=""
      />{{ isSaved ? "Đã lưu công thức" : "Lưu công thức" }}
    </button>

    <button
      class="button-cam mt-3 w-100"
      [routerLink]="
        matchingProduct
          ? ['/chi-tiet-san-pham', matchingProduct._id]
          : '/san-pham'
      "
    >
      {{ matchingProduct ? "MUA GÓI NGUYÊN LIỆU " : "MUA GÓI NGUYÊN LIỆU" }}
    </button>
  </div>
</div>

<!-- Công thức gợi ý -->
<div class="recipes-section" *ngIf="recipe">
  <div class="suggested-recipes-container">
    <div class="suggested-recipes">
      <div class="section-title">
        <h2>Công thức <span>Bạn có thể thích</span></h2>
      </div>

      <div class="recipes-navigation">
        <!-- Nút điều hướng trái -->
        <button
          class="nav-button nav-button-left"
          (click)="prevRecipePage()"
          [disabled]="currentRecipePage === 0"
        >
          <img src="../../assets/trang-chu/slider.svg" alt="Previous" />
        </button>

        <div class="products-grid">
          <div class="product-card" *ngFor="let recipe of visibleRecipes">
            <div
              class="save-button"
              (click)="toggleSaveRecipe($event, recipe._id)"
            >
              <span class="heart-icon" *ngIf="!isRecipeSaved(recipe._id)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="#6c757d"
                  class="bi bi-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                  />
                </svg>
              </span>
              <svg
                *ngIf="isRecipeSaved(recipe._id)"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#dc3545"
                class="bi bi-heart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                />
              </svg>
            </div>
            <a [routerLink]="['/cong-thuc', recipe._id]">
              <img
                [src]="recipe.recipeImage"
                [alt]="recipe.recipeName"
                class="product-image"
              />
              <div class="product-content">
                <h5 class="product-title">{{ recipe.recipeName }}</h5>
                <div class="product-info">
                  <div class="info-item">
                    <img
                      src="../../assets/san-pham/khauphan.svg"
                      alt="category"
                    />
                    <span>4 Người</span>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../assets/san-pham/dokho.svg"
                      alt="difficulty"
                    />
                    <span>{{ recipe.difficulty }}</span>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../assets/san-pham/ph-cooking-pot.svg"
                      alt="time"
                    />
                    <span>{{ recipe.time }}</span>
                  </div>
                </div>
                <div class="product-actionss">
                  <button class="button-camnhat">XEM CHI TIẾT</button>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Nút điều hướng phải -->
        <button
          class="nav-button nav-button-right"
          (click)="nextRecipePage()"
          [disabled]="
            currentRecipePage >= suggestedRecipes.length / recipesPerPage - 1
          "
        >
          <img src="../../assets/trang-chu/slider.svg" alt="Next" />
        </button>
      </div>
    </div>
    <div class="view-more">
      <button class="button-cam" routerLink="/cong-thuc">XEM THÊM</button>
    </div>
  </div>
</div>
