.container {
  background: white;
  border-radius: 40px;
  padding: 30px;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-button img {
  width: 35px;
  height: auto;
}

.title {
  color: black;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

p,
.title {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
}

input:focus {
  border: 2px solid var(--color-camdam);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 20px;
}

.button-cam {
  width: 100%;
}

.back-link {
  text-align: center;
  margin-top: 20px;
}

.back-link a {
  color: var(--color-camvua);
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.back-link a:hover {
  color: var(--color-camdam);
}

input.submitted.ng-invalid {
  border-color: red;
}
