.maincontainer {
  max-width: 1100px;
  margin: auto;
}

h1 {
  margin-bottom: 24px;
}

.symbol,
.special {
  font-weight: 600;
  font-style: italic;
}

.symbol {
  color: var(--color-camvua);
}

.info {
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.form-group {
  border: 2px solid var(--color-camdam);
  border-radius: 30px;
  padding: 15px;
  width: 350px;
  height: auto;
  min-height: 160px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.radio-group {
  padding-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.radio-group > label {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.display-group,
.input-with-unit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-display {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-camdam);
}

.unit {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.input-group input[type="number"] {
  width: 110px;
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 40px;
}

.error-message {
  color: red;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 10px;
}

.results-container {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid var(--color-camdam);
}

.result-box {
  text-align: center;
}

.result-box h2 {
  color: var(--color-camdam);
  margin-bottom: 20px;
}

.result-content {
  font-size: 20px;
  font-weight: 400;
}

.result-value {
  font-weight: bold;
  color: var(--color-camdam);
}

.bmi-info {
  padding: 20px 20px 0;
  border-radius: 20px;
}

.bmi-header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.bmi-columns {
  display: flex;
  gap: 60px;
}

.bmi-list li {
  margin-bottom: 10px;
  font-size: 16px;
}
