<div class="maincontainer">
  <h1>Tính BMI, BMR</h1>
  <div class="info">
    <p>
      <span class="symbol">* </span>
      <span class="special">BMI (Body Mass Index)</span> hay còn gọi là chỉ số
      khối cơ thể, chỉ số thể trọng, là một công cụ thường được sử dụng để đo
      lượng mỡ trong cơ thể.
    </p>
    <p>
      <span class="symbol">* </span>
      <span class="special">BMR (Basal Metabolic Rate)</span> là tỷ lệ trao đổi
      chất cơ bản của cơ thể. Chỉ số này cho biết mức năng lượng tối thiểu mà cơ
      thể bạn cần để duy trì các hoạt động bình thường là bao nhiêu.
    </p>
  </div>
  <div class="form-container">
    <div class="form-group">
      <label for="gender"
        ><span class="symbol">*</span> Giới tính của bạn:</label
      >
      <div class="radio-group">
        <input
          type="radio"
          id="male"
          name="gender"
          [(ngModel)]="gender"
          value="male"
          (change)="onGenderChange()"
        />
        <label for="male">Nam</label>
        <input
          type="radio"
          id="female"
          name="gender"
          [(ngModel)]="gender"
          value="female"
          (change)="onGenderChange()"
        />
        <label for="female">Nữ</label>
      </div>
      <div
        class="error-message"
        *ngIf="errorMessages.includes('* Giới tính không được trống')"
      >
        * Giới tính không được trống
      </div>
    </div>

    <div class="form-group">
      <label for="height"
        ><span class="symbol">*</span> Chiều cao của bạn:</label
      >
      <div class="input-group">
        <div class="display-group">
          <div class="input-display">{{ height }}</div>
          <span class="unit">cm</span>
        </div>
        <div class="input-with-unit">
          <input
            type="number"
            id="height"
            placeholder="170"
            [(ngModel)]="height"
            min="0"
            max="250"
            (ngModelChange)="onHeightChange()"
          />
        </div>
      </div>
      <div
        class="error-message"
        *ngIf="
          errorMessages.includes('* Chiều cao không được trống') ||
          errorMessages.includes('* Chiều cao không được vượt quá 250cm')
        "
      >
        {{
          errorMessages.includes("* Chiều cao không được vượt quá 250cm")
            ? "* Chiều cao không được vượt quá 250cm"
            : "* Chiều cao không được trống"
        }}
      </div>
    </div>

    <div class="form-group">
      <label for="weight"
        ><span class="symbol">*</span> Cân nặng của bạn:</label
      >
      <div class="input-group">
        <div class="display-group">
          <div class="input-display">{{ weight }}</div>
          <span class="unit">kg</span>
        </div>
        <div class="input-with-unit">
          <input
            type="number"
            id="weight"
            placeholder="65"
            [(ngModel)]="weight"
            min="0"
            max="250"
            (ngModelChange)="onWeightChange()"
          />
        </div>
      </div>
      <div
        class="error-message"
        *ngIf="
          errorMessages.includes('* Cân nặng không được trống') ||
          errorMessages.includes('* Cân nặng không được vượt quá 250kg')
        "
      >
        {{
          errorMessages.includes("* Cân nặng không được vượt quá 250kg")
            ? "* Cân nặng không được vượt quá 250kg"
            : "* Cân nặng không được trống"
        }}
      </div>
    </div>

    <div class="form-group">
      <label for="age"><span class="symbol">*</span> Số tuổi của bạn:</label>
      <div class="input-group">
        <div class="display-group">
          <div class="input-display">{{ age }}</div>
          <span class="unit">tuổi</span>
        </div>
        <div class="input-with-unit">
          <input
            type="number"
            id="age"
            placeholder="20"
            [(ngModel)]="age"
            (ngModelChange)="onAgeChange()"
            min="0"
          />
        </div>
      </div>
      <div
        class="error-message"
        *ngIf="errorMessages.includes('* Số tuổi không được trống')"
      >
        * Số tuổi không được trống
      </div>
    </div>
  </div>
  <div class="button-group">
    <button class="button-cam" (click)="calculateBMI()">Tính BMI</button>
    <button class="button-cam" (click)="calculateBMR()">Tính BMR</button>
    <button class="button-trang" id="reset-btn" (click)="resetForm()">
      Đặt lại
    </button>
  </div>

  <div class="results-container" *ngIf="showResults">
    <div class="result-box">
      <h2>Kết quả BMI</h2>
      <span class="result-content">
        Chỉ số BMI của bạn là
        <span class="result-value">{{ bmiResult | number : "1.1-1" }}</span
        >, bạn thuộc <span class="result-value">{{ bmiCategory }}</span>
      </span>
    </div>

    <div class="bmi-info">
      <div class="bmi-header">
        <span class="symbol">*</span>
        <span
          >Đối với người lớn từ 20 tuổi trở lên, sử dụng bảng phân loại chuẩn
          cho cả nam và nữ để đánh giá chỉ số BMI.</span
        >
      </div>
      <div class="bmi-columns">
        <ul class="bmi-list">
          <li>BMI < 16: Gầy độ III</li>
          <li>16 ≤ BMI < 17: Gầy độ II</li>
          <li>17 ≤ BMI < 18.5: Gầy độ I</li>
          <li>18.5 ≤ BMI < 25: Bình thường</li>
        </ul>
        <ul class="bmi-list">
          <li>25 ≤ BMI < 30: Thừa cân</li>
          <li>30 ≤ BMI < 35: Béo phì độ I</li>
          <li>35 ≤ BMI < 40: Béo phì độ II</li>
          <li>BMI ≥ 40: Béo phì độ III</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="results-container" *ngIf="showBMRResult">
    <div class="result-box">
      <h2>Kết quả BMR</h2>
      <span class="result-content">
        Chỉ số BMR của bạn là
        <span class="result-value">{{ bmrResult | number : "0.0-0" }}</span>
        calo/ngày
      </span>
    </div>
  </div>
</div>
