.maincontainer {
  padding-top: 180px;
  max-width: 1100px;
  margin: auto;
}

h1 {
  margin: 40px 0 24px 0;
  text-decoration: underline;
}

.symbol {
  color: var(--color-camvua);
  font-weight: 600;
  font-style: italic;
}

.special {
  font-weight: 600;
  font-style: italic;
}

.info {
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.form-group {
  border: 2px solid var(--color-camdam);
  border-radius: 30px;
  padding: 15px;
  width: 350px;
  height: 160px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.radio-group {
  padding-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.radio-group > label {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.display-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-display {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-camdam);
}

.unit {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.input-with-unit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-group select,
.input-group input[type="number"] {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.input-group input[type="number"] {
  width: 110px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 60px;
  margin-bottom: 120px;
}
